@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Lato/Lato-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Anton/Anton-Regular.ttf) format('woff2');
    /*format('woff2')*/
}
