body {
    font-size: 16px;
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
}

main {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: OpenSans, Helvetica, sans-serif;
    color: #f9f9f9;
}

h1 {
    height: 40px;
    width: 400px;
    font-size: 35px;
    margin: 0;
    background-color: rgba(47, 47, 47, 0.03);
    position: relative;
    display: flex;
    border: 8px double white;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    padding-bottom: 5px;
}

h2 {
    width: 350px;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    background-color: rgba(47, 47, 47, 0.03);
    background-color: #565656;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
}

h3 {
    font-size: 25px;
    letter-spacing: 2px;
    width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
    border: 3px solid green;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h4 {
    width: 300px;
    height: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.53);
    background-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    list-style: none;
}

li {
    margin-top: 15px;
}

section {
    padding-top: 70px;
}
